<header class="show-add">
	<i class="fa fa-plus-circle"></i>
</header>

<form class="add-image-form view-form">
	<input type="text" class="add-image-url" placeholder="Enter an image URL" required autofocus>
	<input type="text" class="add-image-caption" placeholder="Enter a caption for the image">
	<div class="buttons"></div>
		<button type="reset" class="add-image-clear-form">Cancel</button>
		<button type="submit" class="add-image-submit"><i class="fa fa-image"></i> Add Image</button>
	</div>
</form>

<section class="stored-images">
	{{#each this}}
	<div class="stored-image-container">
		<img src="{{image_url}}" alt="" class="stored-image-image">
		<div class="stored-image-caption-container">
			<p class="stored-image-caption">{{image_caption}}</p>
			<p class="stored-image-username">Image stored by: {{username}}</p>
		</div>
	</div>
	{{/each}}
</section>