
.login-form {
	border: 1px solid lightgray;
	border-radius: 5px;
	width: 20em;
	height: 15em;
	margin: 0 auto;
	margin-top: 15%;
	padding: 5%;
}

.username {
	display: block;
	margin-bottom: 2em;
}

.login-submit {
	float: right;
	margin-right: 10%;
}